repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files
- repo: https://github.com/oxipng/oxipng
  rev: v10.0.0
  hooks:
  - id: oxipng
- repo: https://github.com/olipinski/detect-exif
  rev: v0.1.0
  hooks:
  - id: detect-exif
    args: ['--remove', '--quiet']
